#Django==1.7.3
#django-extensions==1.4.9
#django-redis==3.8.2
#django-rq==0.7.0
#django-rq-dashboard==0.3.0
#redis==2.10.3
#requests==2.5.1
#rq==0.4.6
#rq-scheduler==0.5.0
#six==1.9.0
#Werkzeug==0.9.6

Django==1.11.2
requests==2.18.1
django-redis==4.8.0
django-rq==0.9.5
rq-scheduler==0.7.0
django-rq-dashboard==0.3.3
