{% load static %}
<html>
    <head>
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <style>
            table {
                font-size: 0.85em;
            }

            td {
                max-width: 140px;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div class="nav">
        <a href='/'>Home</a>
        <a href='{% url "long_tasks" %}'>Long tasks</a>
        <a href='/rq/'>Queues</a>
        <a href='/admin/rq/'>RQ Dashboard</a>
    </div>
    <div class='container'>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
