{% extends "base.html" %}
{% block content %}
<h3>Tasks</h3>
<div class="row">
    <div class="twelve columns">
        <form method='POST'>
            {% csrf_token %}
            {{ form }}<br />
            <input type='submit' value='ok' />
        </form>
    </div>
</div>
<hr />

<h4>Tasks</h4>
<table style="width: 100%">
    <thead><tr><th>Url</th><th>Job</th><th>Result</th><th>Date</th></tr></thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td><a href="{% url 'view_job' task.job_id %}" >{{ task.job_id }}</a></td>
                <td>{{ task.result }}</td><td>{{ task.created_on|date:"d/m/Y H:i" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Scheduled Tasks</h4>
<table style="width: 100%;">
    <thead><tr><th>Url</th><th>Job</th><th>Instances</th></tr></thead>
    <tbody>
        {% for task in scheduled_tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td><a href="{% url 'view_job' task.job_id %}" >{{ task.job_id }}</a></td>
                <td>
                {% for ti in task.scheduledtaskinstance_set.all %}
                    @{{ ti.created_on|date:"d/m/Y H:i" }}, result: {{ ti.result }}<br />
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
